nav{
    float: right;
    margin-top: -90px;
    ul{
        // list-style-type: none;
        display: flex;
        li{
            list-style: none;
        }
    }
    .image{
        width: 30px;
        height: 30px;
        padding: 5px;
        margin-top: -5px;
        border-radius: 50%;
        background-color: $imageBackground;
        box-shadow:1px 1px 2px 1px $imageShadow;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
    .menu{
        position: absolute;
        margin-top: -60px;
        // display: none;
        i{
            font-size: 40px;
            color: red;
        }
    }
    li{
        margin-right: 15px;

        &:hover{
            color: rgb(71, 57, 144);
           
        }
    }
    a{
        font-size: 1.3em;
        color: $dark-red;
        padding-bottom: 3px;
        text-decoration: none;
        &:hover{
            color: $brown ;
            border-bottom: 3px solid $brown; 
            transition: .5s ease-in-out;
        }
    }
}

/*nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}*/