$brown:#d1caea;
$dark-red:#a9aeb1c9;
$white:black;
$bodyColor: rgba(3, 6, 48, 0.825);
$buttonColor: darkmagenta;
$h1Color: rgb(145, 17, 17);
$h2Color: rgb(29, 103, 103);
$imageBackground: white;
$imageShadow: rgba(0, 0, 255, 0.233);
$headerColor: rgb(10, 10, 72);