$brown:#760001;
$dark-red:#181818;
$white:white;
$bodyColor: bisque;
$buttonColor: rgb(132, 15, 15);
$h1Color: black;
$h2Color: black;
$imageBackground: white;
$imageShadow:rgba(255, 228, 196, 0);
$headerColor:rgb(225, 248, 207);